@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background: url('https://images.unsplash.com/photo-1566150783851-51df62fd3d68?q=80&w=2023&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
    background-size: cover;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    position: relative;
    z-index: 1;
    color: white; /* Adjust color as needed */
    text-align: center;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 2s forwards;
    font-size: 100px;
}

@keyframes fadeIn {
    to {
        opacity: 0.6;
        transform: translateY(0);
    }
}

#gitv-label {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: burlywood;
    color: black;
    padding: 5px 20px;
    font-size: 10px;
    /* font-weight: bold; */
    border-radius: 25px;
    z-index: 1000;
}