body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background: url('resources/wallpaperflare.com_wallpaper.jpg') no-repeat center center fixed;
    background-size: cover;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
    position: relative;
    z-index: 1;
    color: #868686 !important; /* Adjust color as needed */
    text-align: center;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 2s forwards;
    font-size: 100px !important;
    font-weight: 700 !important;
}

@keyframes fadeIn {
    to {
        opacity: 0.6;
        transform: translateY(0);
    }
}

.navbar {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
    position: absolute !important;
    top: 24px !important;
    right: 80px !important;
    padding: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    border-radius: 50px !important;
}

.nav-link {
    padding: 0 !important;
}

li {
    font-size: 19px !important;
    display: block !important;
    padding: 20px 15px 20px 15px !important;
    position: relative;
}

#btn-logout {
    display: flex;
    align-items: center;
    font-size: 19px !important;
    border-radius: 50px !important;
    margin: 0 0 0 10px;
    padding: 9px 17px 9px 19px;
}

/* Git version label */
.label-gitv {
    position: absolute;
    top: 15px;
    left: 15px;
    background: burlywood;
    color: #2c2c2c;
    padding: 8px 16px;
    font-size: 11px;
    font-weight: 500;
    border-radius: 20px;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    letter-spacing: 0.3px;
}