<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glassmorphism Authentication Form</title>
    <link rel="stylesheet" href="static/signin.css">
</head>

<body>
    {% if gitv %}
    <div class="label-gitv">-b {{ gitv }}</div>
    {% endif %}
    <div class="container cont-wrapper">
        <form action="#">
            <h2>Wortschatz</h2>
            <div class="input-field">
                <input type="text" required placeholder="">
                <label>Enter your email</label>
            </div>
            <div class="input-field">
                <input type="password" required placeholder="">
                <label>Enter your password</label>
            </div>
            <div class="container cont-forget">
                <label for="remember">
                    <input type="checkbox" id="remember">
                    <p>Remember me</p>
                </label>
                <a href="#">Forgot password?</a>
            </div>
            <button class="btn btn-login" type="submit">Log in</button>
            <div class="register">
                <p>Don't have an account? <a class="register-link" href="#">Register</a></p>
            </div>
        </form>
    </div>
</body>
<script src="static/signin.js"></script>
</html>